doctype html
html
  head
    title Bolbeck Demo
    link(rel='stylesheet', href='/css/bulma.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h3(class="title is-3 has-text-white" ) #{title}
      div(class="columns")
        div(class="column is-2")
          aside(class="menu")
            ul(class="menu-list")
              li
                a(href="/") Home
              li
                a(href="/mysql") Countries
        div(class="column is-10")
          block content
      nav(class="level")
        div(class="level-left")
          p(class="level-item")
            a( href="https://www.bolbeck.com")
              img(src="image/BolbeckLogo and Name.png" width="120" height="56" alt="Bolbeck llc innovative solutions to unique problems" )
        div(class="level-right")
          p(class="level-item")
            a( href="https://www.cloudbees.com/devops-world/")
              img(src="image/devopsworld2020logo.png" width="100" height="62" alt="DevOpsWorld 2020 Transforming the Future of Software Delivery" )
