extends default

block content
  nav(class="level")
    div(class="level-item has-text-centered")
      div
        h4(class="title is-4") #{message}
  br
  br
  br
  br
  br
  nav(class="level")
    div(class="level-left")
      p(class="level-item")
        a( href="https://www.bolbeck.com")
          img(src="image/BolbeckLogo and Name.png" width="120" height="56" alt="Bolbeck llc innovative solutions to unique problems" )
    div(class="level-right")
      p(class="level-item")
        a( href="https://www.milwaukeecodecamp.com")
          img(src="image/mkecc-logo-full-color.png" width="100" height="62" alt="Milwaukee Code Camp" )
